
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f9fb;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 10px;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.botaoInicial {
    background-color: #3a571f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.botaoInicial:hover {
    background-color: #097436;
}

.usuario {
    margin-top: 20px;
    color: #34495e;
}

label {
    font-weight: bold;
    margin-right: 5px;
}

input[type="number"], select {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    max-width: 100%;
}

input[type="submit"] {
    background-color: #355241;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #097436;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    text-align: center;
}

.tabela th {
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 10px;
    text-align: left;
}

.tabela td {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.tabela tr:hover {
    background-color: #2b4e1bab;
}

        
