.App {
  text-align: center;
  font-size: 25px;

  }
    
  .login{
    color: black;
    font-family: ' Geneva ';
    text-align: center;
    
  }

.buttonSucess {
  background-color: aliceblue;
  height: 30px;
  padding: 7px;
  margin: 10px 0;
  color: black;
  cursor: pointer;
  border: black;
  border-radius: 5px;
  font-size: large;
  max-width: 100%;
  text-align: center;
}

body{
  background: linear-gradient(77deg,rgba(16, 138, 179, 1) 0%, rgba(93, 245, 214, 1) 4%, rgba(0, 212, 255, 1) 51%);
  padding: 106px 190px;
  font-family: ' Geneva ';
  display: block;
  flex-direction: initial;
  margin: auto;
}

input{
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  max-width: 100%;
}

.toast{
  position:  fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #FFF;
  padding: 12px 20px ;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0,0,0.2);
  opacity: 0;
  transform: translateY(-20);
  animation: toastFadeInOut 4s forwards;
  z-index: 9999;
}

@keyframes toastFadeInOut{
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10%, 90%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 1;
    transform:  translateY(-20px);
  }
}