
body{
    background-image: url("./imagens/A\ dark-themed\ financial\ page\ background\ featuring\ green\ accents\,\ a\ glowing\ Bitcoin\ coin\ in\ the\ cente.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;

}


.container h1 {
    color: aliceblue;
    display: flex;
    margin-left: 20%;

}



.container input {
    padding: 15px 100px;
    text-align: center;
    border-radius: 30px; 
}

.container label{
    color: aliceblue;
    padding-left: 40%;
}

.container button{
    margin-left: 35%;
    border-left: 40%;
    border-radius: 30px;
    background-color: transparent; 
    color: #fff;
    padding: 15px 30px;
    border-color:rgb(72, 196, 35);
    
}
    
    
